.btn {
    height: 60px;
    width: 240px;
    background: $main-color;
    padding: 0px 25px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
}