.problem {
    min-height: 895px;
    &__wrapper {
        padding-top: 80px;
        &_top {
            display: flex;
        }
        &_middle {
            text-align: center;
            margin-top: 50px;
            p {
                margin-top: 35px;
                text-transform: uppercase;
                font-size: 50px;
                font-weight: 900;
                line-height: 25px;
            }
        }
        &_bottom {
            display: flex;
            margin-top: 40px;
        }
    }
    &__item {
        width: 1fr;
        margin: 0 15px;
        position: relative;
        p {
            display: inline-block;
            position: absolute;
            font-size: 18px;
            width: 235px;
            top: 180px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}